@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

html { 
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;    
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: #E5E5E5;
}

#root {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

.block {        
    &.-header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .title {
            font-size: 2rem;
            font-weight: 500;
            margin-right: 3rem;
        }
    }

    &.-input {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .inputText {
            padding: 1rem;
            flex-grow: 1;
            border: 1px solid #E0E0E0;
            background-color: transparent;            
        }
        ::placeholder {   
            color:  #BDBDBD;         
            text-transform: uppercase
        }
    }

    &.-buttons {
        display: flex;
        align-items: center;
        padding: 1rem 0 1.5rem 0;
        border-bottom: 1px solid #E0E0E0;
    }

    &.-list {               
        .itemList {
            position: relative; 
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;
            border-bottom: 1px solid #E0E0E0;            

            span {
                flex-basis: 25%;
            }
        }

        .check::before {
            content: "";
            display: block;
            position: absolute;
            top: 1.6rem;
            height: 1px;
            width: 80%;
            background-color: #828282;
        }
    }

    &.-footer {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .totalPrice {
            margin-right: 2rem;
        }

        .totalValue {
            color: #eb5757;
        }
    }
}

.btn {
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    background: transparent;    

    &.-search {
        width: 24px;
        height: 24px;        
        background: url(./test/style/icon/search.svg) no-repeat center;
        background-size: cover;
    }

    &.-add {
        color: #fff;
        font-weight: 600;
        padding: 1rem 2rem;
        background-color: #eb5757;
    }

    &.-name, &.-quantity, &.-price {
        flex-grow: 1;
        color: #BDBDBD;
        font-weight: 600;
        padding: .5rem 2rem;
        margin-right: 2rem;
        background-color: #fff;        
    }

    &.-clear {
        color: #fff;
        font-weight: 600;
        padding: .5rem 2rem;
        background-color: #828282;        
    }

    &.-delete {
        width: 14px;
        height: 14px;
        background: url(./test/style/icon/trash.svg) no-repeat center;
        background-size: contain;
        margin-right: 4rem;
        
    }
}